In [1]:
from binance.client import Client
import pandas as pd

# Initialize the client
client = Client()

# Get klines
klines = client.get_klines(symbol='BTCUSDT', interval=Client.KLINE_INTERVAL_1MINUTE)

In [2]:
df = pd.DataFrame(klines, columns=['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time', 'Quote asset volume', 'Number of trades', 'Taker buy base asset volume', 'Taker buy quote asset volume', 'Ignore'])

In [7]:
import mysql.connector

# Establish a connection to the MySQL database
cnx = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Awesomenes02!',
    database='stocks'
)

# Create a cursor object to execute SQL queries
cursor = cnx.cursor()

query = "DROP TABLE IF EXISTS stocks"

# Execute the SQL query
cursor.execute(query)
cnx.commit()

In [10]:
query = '''
    CREATE TABLE IF NOT EXISTS stocks (
    id INT AUTO_INCREMENT PRIMARY KEY,
    opentime    bigint,
    open        float,
    high        float,
    low         float,
    close       float,
    volume      float,
    closetime   bigint
    )
'''

cursor.execute(query)

In [5]:


query = '''
    CREATE TABLE IF NOT EXISTS stocks (
    id INT AUTO_INCREMENT PRIMARY KEY,
    opentime    bigint,
    open        float,
    high        float,
    low         float,
    close       float,
    volume      float,
    closetime   bigint
    )
'''

cursor.execute(query)

# Define the SQL query to insert the entries
query = "INSERT INTO stocks (opentime, open, high, low, close, volume, closetime) VALUES (%s, %s, %s, %s, %s, %s, %s)"

# Convert the DataFrame to a list of tuples
entries = df[['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time']].values.tolist()

# Execute the SQL query for each entryy
cursor.executemany(query, entries)

# Commit the changes to the databasee
cnx.commit()

In [ ]:
# Define the SQL query to select all records
query = "SELECT * FROM stocks"

# Execute the SQL query
cursor.execute(query)

# Fetch all the records
records = cursor.fetchall()

# Print the records
for record in records:
    print(record)

In [12]:
from datetime import datetime
from datetime import timedelta

# Define the SQL query to insert the entries
query = "INSERT INTO stocks (opentime, open, high, low, close, volume, closetime) VALUES (%s, %s, %s, %s, %s, %s, %s)"

def format_datetime(date):
    return date.strftime('%-d %b, %Y')

startdate = datetime.strptime('1 Jul, 2020', '%d %b, %Y')

for i in range(0, 30):
    # Calculate the end date by adding 1 month to the start date
    enddate = startdate + timedelta(days=30)
    
    # Get the latest klines
    klines = client.get_historical_klines('BTCUSDT', client.KLINE_INTERVAL_1MINUTE, startdate.strftime('%d %b, %Y'), enddate.strftime('%d %b, %Y'))
    
    # Convert the klines to a DataFrame
    df = pd.DataFrame(klines, columns=['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time', 'Quote asset volume', 'Number of trades', 'Taker buy base asset volume', 'Taker buy quote asset volume', 'Ignore'])
    
    # Convert the DataFrame to a list of tuples
    entries = df[['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time']].values.tolist()
    
    # Execute the SQL query for each entry
    cursor.executemany(query, entries)
    
    # Commit the changes to the database
    cnx.commit()
    
    # Update the start date for the next iteration
    startdate = enddate

In [13]:
import pandas as pd

import mysql.connector

# Establish a connection to the MySQL database
cnx = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Awesomenes02!',
    database='stocks'
)

# Create a cursor object to execute SQL queries
cursor = cnx.cursor()

# Define the SQL query to select all records from the stocks table
query = "SELECT * FROM stocks"

# Execute the SQL query
cursor.execute(query)

# Fetch all the records
records = cursor.fetchall()

# Create a pandas dataframe from the records
df = pd.DataFrame(records, columns=['id', 'opentime', 'open', 'high', 'low', 'close', 'volume', 'closetime'])

# Close the cursor and connection
cursor.close()
cnx.close()

# Print the dataframe
print(df)

              id       opentime      open      high       low     close  \
0              1  1577836800000   7195.24   7196.25   7183.14   7186.68
1              2  1577836860000   7187.67   7188.06   7182.20   7184.03
2              3  1577836920000   7184.41   7184.71   7180.26   7182.43
3              4  1577836980000   7183.83   7188.94   7182.49   7185.94
4              5  1577837040000   7185.54   7185.54   7178.64   7179.78
...          ...            ...       ...       ...       ...       ...
1552964  1552965  1671321360000  16789.20  16791.00  16777.80  16780.50
1552965  1552966  1671321420000  16780.50  16782.50  16776.30  16780.90
1552966  1552967  1671321480000  16780.30  16782.70  16775.00  16779.30
1552967  1552968  1671321540000  16778.60  16779.80  16775.40  16776.50
1552968  1552969  1671321600000  16777.50  16783.40  16775.20  16779.40

            volume      closetime
0         51.64280  1577836859999
1          7.24815  1577836919999
2         11.68170  1577836979999
3         10.02540  1577837039999
4         14.91110  1577837099999
...            ...            ...
1552964   94.53120  1671321419999
1552965   52.70450  1671321479999
1552966   64.66950  1671321539999
1552967   27.79170  1671321599999
1552968  118.11000  1671321659999

[1552969 rows x 8 columns]